.home {
	width: 100vw;
	height: 60vh;

	h1 {
		display: inline-block;
		font-size: 5rem;
		margin-top: 10rem;
		margin-left: 20rem;

		border-radius: 5px;
		padding: 0 10px;
		animation: textflicker 100ms infinite;
		transition: all 200ms ease-out;
		background-color: rgb(71, 71, 71);
		color: #fff;
		&:hover {
			background-color: #fff;
			color: rgb(83, 83, 83);
		}
	}
	.about {
		margin-top: 1rem;
		margin-left: 22rem;
		font-size: 1.8rem;
		color: rgb(83, 83, 83);
		width: 40%;
		letter-spacing: 1px;
		word-spacing: 3px;
		line-height: 3.5rem;
		&:hover {
			text-shadow: 1px 0 0 #ff5959, -1px 0 0 #17b978;
		}
	}
}

@keyframes textflicker {
	from {
		text-shadow: 3px 0 0 #ff5959, -2px 0 0 #17b978;
	}
	to {
		text-shadow: 3px 0.5px 2px #ff5959, -1px -0.5px 2px #17b978;
	}
}
